/*@img: "../../img/app/tab";*/
body,
html {
  overflow: visible;
  /* Important, do not remove */

  font-weight: 300;
  min-height: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active,
a:focus {
  outline: none;
}
body {
  font-family: 'lg-light', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
}
.menuOpen {
  overflow: hidden;
  height: 100%;
}
.menuOpen body {
  height: 100%;
}
.menuOpen .menuWidget {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.menuWidget {
  height: 100%;
  overflow: hidden;
}
.mobileMenu {
  height: 100%;
  text-align: left;
  -webkit-transition: background 1.5s;
  -moz-transition: background 1.5s;
  -o-transition: background 1.5s;
  transition: background 1.5s;
}
.mobileMenu.mactive {
  background: #60B9B3;
  position: relative;
  z-index: 999;
}
.mobileMenu .menu {
  display: inline-block;
  padding: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mobileMenu .menu i {
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.mobileMenu .menu i svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: #FFF;
}
.mobileMenu .menu.mactive i {
  -webkit-transform: rotate(-180deg) scale(0.7);
  -moz-transform: rotate(-180deg) scale(0.7);
  -o-transform: rotate(-180deg) scale(0.7);
  -ms-transform: rotate(-180deg) scale(0.7);
  transform: rotate(-180deg) scale(0.7);
}
.mobileMenu .menu.mactive i svg {
  fill: currentColor;
  color: #FFF;
}
.mobileMenu .nav {
  display: none;
  list-style: none;
  height: 90%;
}
.mobileMenu .nav ul {
  width: 100%;
  height: 100%;
}
.mobileMenu .nav li {
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  transition-property: opacity,-webkit-transform,-moz-transform,-o-transform,transform;
  -webkit-transform: translateX(1%);
  -moz-transform: translateX(1%);
  -o-transform: translateX(1%);
  -ms-transform: translateX(1%);
  transform: translateX(1%);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  width: 100%;
  background: none;
  border: none;
}
.mobileMenu .nav li a {
  display: block;
  color: #FFF;
  width: 80%;
  padding: 3% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-self: center;
  -webkit-align-self: center;
}
.mobileMenu .nav li span {
  display: inline-block;
  vertical-align: middle;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  perspective: 400px;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: -webkit-transform,-moz-transform,-o-transform,transform, opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translateX(90%);
  -moz-transform: translateX(90%);
  -o-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
  opacity: 0;
}
.mobileMenu .nav li span small {
  display: block;
  font-size: 22px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: -webkit-transform,-moz-transform,-o-transform,transform, opacity;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}
.mobileMenu .nav li.act {
  -webkit-transform: translateX(14%);
  -moz-transform: translateX(14%);
  -o-transform: translateX(14%);
  -ms-transform: translateX(14%);
  transform: translateX(14%);
  opacity: 1;
}
.mobileMenu .nav li.act i b svg {
  opacity: 1;
}
.mobileMenu .nav li.act i b svg .rotate g path {
  stroke-width: 10px;
}
.mobileMenu .nav li.act span {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.mobileMenu .nav li.act span small {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
